.loading {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    background-color:#FAFAFB;
    height: 100%;
    padding: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: white;
    padding: 48px;
    gap: 8px;
    border-radius: 8px;
}

.image {
    width: 100px;
    height: auto;
    align-self: center;
}

.title, .price {
    font-weight: 600;
    text-align: center;
}

.price {
    font-size: 18px;
    color: #FF6500;
}

button {
    cursor: pointer;
}

.purchaseMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}