.noItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    gap: 16px;
}

.msgLarge {
    font-size: 36px;
}

.cart {
    background-color: #ffffff;
    padding: 24px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    justify-content: center;
    gap: 16px;
    height: 50%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: white;
    padding: 32px;
    position: relative;
    gap: 8px;
    border: 1px solid rgba(158, 158, 158, 0.182);
}

.title {
    text-align: center;
    font-weight: bold; 
}

.image {
    width: 100px;
    height: auto;
}

.quantityMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.price {
    font-size: 18px;
    color: #FF6500;
    font-weight: bold;
}

.checkout {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    gap: 8px;
}

.total {
    font-size: 36px;
}

@media (max-width: 1150px) {
    .cart {
        grid-template-columns: 1fr;
    }
    .items {
        grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    }
    .delete {
        position: initial;
    }
    .checkout {
        align-items: center;
    }
}