.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: white;
    background-color: black; /* when the image fails to load, user is not flashbanged */
    background-image: url('/images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: rgba(0, 0, 0, 0.448);
    padding: 48px;
}

.msgLarge {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.msgSmall {
    font-size: 16px;
}

.button > button {
    border: 0;
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(206, 55, 0);
}

.credits {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    padding: 4px;
}

.credits > a {
    text-decoration: none;
    color: inherit;
}

.credits > a:hover {
    color: orangered;
}